aiogram~=3.0
environs~=9.0
betterlogging
aiogram-i18n[runtime]==1.3.4
libcst
# # For enabling api:
# backoff
# ujson
# yarl

# # For PostgreSQL sqlalchemy + alembic:
# sqlalchemy~=2.0
# alembic~=1.0
# asyncpg
